#header
{
  font-size: 20px;
  font-weight: bolder;
}

.text
{
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

#image
{
  margin-top: 4%;
}

#left1
{
  height: 100vh;
}

#right1
{
  height: 85vh;
  background-color: #000;
  margin-top: 5%;
}

.carousel-inner {

  max-height: 80%;
  max-width: 90%;;
  margin-top: 10%;
  background-color: black !important;
  margin-left: 5%;

  }

.carousel-caption
{
  background-color: black;
}

img 
{
  max-height: 650px;;
}

#c-head
{
  margin-top: 10%;
  color: black;
}

#c-title
{
  background-color: black;
}

#c-d
{
  background-color: black;
}

#list-head
{
  color: black;
  font-size: 1.5vw;
  margin-top: 20%;
  font-weight: bolder;
}

.date
{
  color: blue;
  font-weight: bold;
  text-align: left;
}

.entry
{
  color: #fff;
  text-align: left;

}

a
{
  color: inherit;
}