img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:visited
{
  color: inherit;
}

 table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.tb
{
  margin-left: auto;
  margin-right: auto;
}

.links
{
  font-size: 20px;
  text-align: left;
  margin-left: 60px;
  line-height: 0%;
}

.breadcrumb
{
  text-align: left;
  margin-left: 60px;
  font-size: 16px;
}

.text
{
  font-size: 17px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 150%;
  text-align: left;
}

.subject
{
  font-size: 28px;
}

.contents
{
  font-size: 18px;
}

.list
{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.paper
{
  margin-left: 40px;
  margin-right: 40px;
  background: blue;
}

.blue
{
  color: cyan;
}

.green
{
  color: lime;
}

.cbox{
  color: blue;
  width: 80%;
}

form
{
  padding-bottom: 100px;
  color: blue;
}
